<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User already exixts</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body id ="taken">
    <div id="already-present">
        <h1>This Username  or email id is already taken by someone else , please enter some unique username</h1>
    </div>
</body>
</html>